@using BookingApp.DTO;
@model IEnumerable<City>

<style>
    .create-button-container {
        border: 1px solid black;
        padding: 4px;
        display: inline-block;
        height: 35px;
        /* Keep the container size fixed */
    }

        .create-button-container a {
            text-decoration: none;
            color: black; /* Match the text color to the border color */
        }
</style>

<h2>City List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in Model)
        {
            <tr>
                <td>@city.Name</td>
                <td>@city.Country</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@city.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@city.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@city.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="create-button-container">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
</div>
