@model BookingApp.Models.LoginViewModel

<!-- Include jQuery and jQuery Validation scripts -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<style>
    .validation-message {
        color: red;
        font-size: 12px;
        margin-top: 4px;
    }
</style>

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <!-- Include script to initialize client-side validation -->
    <script>
        $(document).ready(function () {
            $("form").validate();
        });
    </script>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "validation-message" })
    <br />

    @Html.LabelFor(model => model.Password)
    @Html.PasswordFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "validation-message" })
    <br />

    <input type="submit" value="Login" />
}
